/*===============CATEGORY-SHOW================*/
.category-show-body{
  background-color: #F2F2F2;
  margin-top: -20px;
  margin-bottom: -35px;
}

.category-show {
  border-radius: 20px;
  background-color: #FFF;

  h5 {
    a {
      font-family: Pacifico, sans-serif;
      color: #000;
    }

    a:hover {
      color: grey;
    }
  }
}



