/*===============CATEGORY-SHOW================*/

.category-show {
  background-color: #F2F2F2;

  h5 {
    a {
      font-family: Pacifico, sans-serif;
      color: #000;
    }

    a:hover {
      color: grey;
    }
  }
}



