/*===============CONTACT================*/
.contact-body{
  background-color: #F2F2F2;
  margin-top: -20px;
  margin-bottom: -35px;
}

.contact{
  background-color: #FFF;
  border-radius: 20px;
}

.contact-form{
  background-color: #F2F2F2;
  border-radius: 20px;
}
