/*===============LOGIN================*/

.login{
  background-color: #F2F2F2;
  border-radius: 20px;
  margin-top: 70px;
  margin-bottom: 100px;

  button{
    width: 180px;
  }

  a{
    width: 180px;
  }
}
