/*===============MENU================*/
.menu-index-body{
  background-color: #F2F2F2;
  margin-top: -20px;
  margin-bottom: -35px;
}

.menu-index {
  border-radius: 20px;
  background-color: #FFF;
}

.menu-choice{
  background-color: #F2F2F2;
  border-radius: 20px;

  p{
    font-family: Pacifico, sans-serif;
  }
}

.card-menu{
  border: 2px solid #FFFF44;
  p{
    a{
      color: #000;
    }
  }
}

.menu-title{
  background-color: #74D14C;
  border-radius: 20px;
}

.menu-dejeuner{
  background-color: #bbbbbb;
  border-radius: 20px;

  div div{
    border: 2px solid #FFFF44;
  }
}

.day-control{
  margin-top: -15px;
}

.menu-checkbox{
  margin-top: -10px;
}
