/*===============NEW RECIPE================*/

.recipe-new-body{
  background-color: #F2F2F2;
  margin-top: -20px;
  margin-bottom: -35px;
}

.recipe-new{
  border-radius: 20px;
  background-color: #FFF;
}

#recipe{
  display: flex;
  flex-wrap: wrap;
}

.form-steps-li{
  display: flex;
}

.form-time div{
  border-radius: 20px;
}

.form-rens div{
  border-radius: 20px;
}

.ingredient{
  display: flex;
  margin: 5px;
  align-items: flex-end;

  button{
    height: 70%;

  }

  >div:first-of-type{
    display: flex;
    align-items: flex-end;

    >div{
      margin: 10px;

      >label{
        margin-right: 10px;
      }

      >button{
        background-color: #F2F2F2;
        border: none;
        font-size: 1.5em;
      }
    }
  }
}

.step{
  display: flex;
  margin: 5px;
  align-items: center;

  button{
    height: 70%;
  }

  >div:first-of-type{
    display: flex;

    >div{
      margin: 10px;

      >label{
        margin-right: 10px;
        width: 50%;
      }
    }
  }
}

.picture{
  display: flex;
  margin: 5px;
  align-items: center;

  button{
    height: 70%;
  }

  >div:first-of-type{
    display: flex;

    >div{
      display: flex;
      margin: 10px;

      >label{
        margin-right: 10px;
      }
    }
  }
}

.form-align{

  label{
    font-family: Pacifico, sans-serif;
  }
}
