/*===============NEW RECIPE================*/

#recipe{
  display: flex;
  flex-wrap: wrap;
}

.form-steps-li{
  display: flex;
}

.ingredient{
  display: flex;
  margin: 5px;
  align-items: center;

  button{
    height: 70%;
  }

  >div:first-of-type{
    display: flex;

    >div{
      margin: 10px;

      >label{
        margin-right: 10px;
      }
    }
  }
}

.step{
  display: flex;
  margin: 5px;
  align-items: center;

  button{
    height: 70%;
  }

  >div:first-of-type{
    display: flex;

    >div{
      margin: 10px;

      >label{
        margin-right: 10px;
      }
    }
  }
}
