/*===============RECIPE SHOW================*/

.recipe-show-body{
  background-color: #F2F2F2;
  margin-top: -20px;
  margin-bottom: -35px;
}

.recipe-show{
  background-color: #FFF;
  border-radius: 20px;

  h1{
    font-size: 2em;
  }

  td{
    font-size: 0.8em;
  }
}

.comment-user{
  font-family: Pacifico, sans-serif;
}

.list-comment ul:nth-child(odd){
  background-color: grey;
  border-radius: 20px;
}

.list-comment ul:nth-child(even){
  background-color: #F2F2F2;
  border-radius: 20px;

}
