/*===============RECIPE================*/

.recipe-container{
  display: flex;
  flex-wrap: wrap;
}

.card-recipe{
  text-align: -webkit-center;
}

.card-img {
  justify-content: center;
  position: relative;
  overflow: hidden;

  img {
    max-width: 100%;
    transition: 0.5s;
  }

  img:hover{
    transform: scale(1.1);
  }
}

.card-body{
  padding: 10px;
  text-align: left;
}

.card-title{
  color: #000;
}

.card-text{
  color: #000;
}
