/*===============REGISTER================*/

.register{
  display: flex;
  flex-flow: column;
  background-color: #F2F2F2;
  border-radius: 20px;
  align-items: center;
  margin-top: 50px;
  padding: 20px;


  div{
    display: flex;
    flex-flow: column;
    padding-top: 20px;
    align-items: center;
    width: 100%;

    input{
      width: 50%;
      border-radius: 20px;
      height: 70%;
    }
  }

  button{
    margin-top: 20px;
  }
}
