/*===============USER================*/

.user-rens img{
  width: 10%;
  height: 20%;
}

.add-recipe{
  height:50%;
}

.data-user{

  h5{
    font-family: Pacifico, sans-serif;
  }

  .last-menu{
    border: 1px solid #000;
  }
}
