{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="login col-md-4 offset-4 p-3 mt-5 text-center">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 mt-3 font-weight-normal">Connectez-vous</h1>
        <label for="inputEmail" class="sr-only mt-5">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-3" placeholder="Email" autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control mt-3" placeholder="Mot de passe">

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me" class="mt-2"> Se rappeler de moi
            </label>
        </div>
        <button class="btn btn-lg btn-success" type="submit">
            Se connecter
        </button>
    </form>

    <a class="btn btn-lg btn-success text-center mt-2" href="{{ path('user_registration') }}">
        S'inscrire
    </a>
</div>
{% endblock %}
