<ul class="dropdown-menu">
    {% for category in categories  %}
        <li>
            <a href="{{ path('category_show', {'id': category.id }) }}" class="dropdown-item">
                {{ category }}
            </a>
        </li>
    {% endfor %}
</ul>
