{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="category-show-body pt-3 pb-3">
        <div class="container category-show mt-5 pt-2">
            <h1 class="mb-3 text-center">{{ category.label }}</h1>
            <div class="recipe-search col-xs-8 offset-sm-2 col-sm-6 offset-sm-3 col-md-4 offset-md-4 d-flex flex-column align-items-center p-3">
                <form action="{{ path('search') }}" method="get" class="d-flex flex-column">
                    <label for="search-query"></label>
                    <input type="text" name="search-query" class="form-control" placeholder="Recette">
                    <button class="btn btn-dark mt-3" type="submit">Rechercher</button>
                </form>
            </div>
            <h5 class="text-center mt-3"><a href="{{ path('recipe_index') }}">Toutes les recettes</a></h5>

            <div class="container recipe-container mt-3">
                {% for recipe in recipes %}
                    <div class="col-xs-4 col-sm-6 col-md-4 card-recipe flex-wrap">
                        {% include 'recipe/card.html.twig' with {'recipe' : recipe} only %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
