{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="container recipe-container mt-3">
        {% for recipe in recipes %}
            <div class="col-xs-4 col-sm-6 col-md-4 card-recipe flex-wrap">
                {% include 'recipe/card.html.twig' with {'recipe' : recipe} only %}
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('category_index') }}">back to list</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
