@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "~select2/dist/css/select2.min.css";
@import url('https://fonts.googleapis.com/css?family=Pacifico');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', sans-serif;
}

/*===============HEADER================*/

.img-header{
    width: 40%;
}

/*===============RECIPE================*/

.recipe-container{
    display: flex;
    flex-wrap: wrap;
}

.card-recipe{
    text-align: -webkit-center;
}

.card-img {
    justify-content: center;
    position: relative;
    overflow: hidden;

    img {
        max-width: 100%;
        transition: 0.5s;
    }

    img:hover{
    transform: scale(1.1);
    }
}

.card-body{
    padding: 10px;
    text-align: left;
}

/*===============LOGIN================*/

.login{
    background-color: #F2F2F2;
    border-radius: 20px;

    button{
        width: 150px;
    }

    a{
        width: 150px;
    }
}

/*===============RECIPE SHOW================*/

.recipe-show{
    background-color: #F2F2F2;

    h1{
        font-size: 2em;
    }

    td{
        font-size: 0.8em;
    }
}

/*===============USER================*/

.user-rens img{
    width: 10%;
    height: 20%;
}

.add-recipe{
    height:50%;
}

/*===============NEW RECIPE================*/

#recipe{
    display: flex;
    flex-wrap: wrap;
}


