@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "~select2/dist/css/select2.min.css";
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import "styles/header";
@import "styles/recipe";
@import "styles/login";
@import "styles/recipe_show";
@import "styles/register";
@import "styles/new_recipe";
@import "styles/user";
@import "styles/menu";
@import "styles/footer";
@import "styles/menu-new";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a:hover{
    text-decoration: none;
    color: #000;
}

ul{
    list-style-type: none;
    text-decoration: none;
}

h1{
    font-family: Pacifico, sans-serif;
}

h2{
    font-family: Pacifico, sans-serif;
}

h4{
    font-family: Pacifico, sans-serif;
}

.container-fluid{
    padding: 0;
    margin: 0;
}
