{% for picture in recipe.pictures %}

    <div class="card" style="width: 18rem;">
        <img src="{{ asset('uploads/' ~ picture.filename) }}" class="card-img-top" alt="{{ recipe.title }}">
        <div class="card-body">
            <h6 class="card-title">{{ recipe.title }}</h6>
            <p class="card-text">{{ recipe.category.label }}</p>
        </div>
    </div>

{% endfor %}
