{% extends 'base.html.twig' %}

{% block title %}New Recipe{% endblock %}

{% block body %}
    <div class="recipe-new-body pt-3 pb-3">
        <div class="recipe-new col-md-10 offset-md-1 mt-5 pt-2 pb-3">
            <h1 class="text-center mb-3">Création d'une recette</h1>
            {{ include('recipe/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
