{% extends 'base.html.twig' %}

{% block title %}New Recipe{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">Création d'une recette</h1>
    <div class="recipe-new col-md-10 offset-md-1 p-4 mb-5">
        {{ include('recipe/_form.html.twig') }}
    </div>
{% endblock %}
