{% extends 'base.html.twig' %}

{% block title %}New Menu{% endblock %}

{% block body %}
    <h1 class="text-center mt-3 mb-5">Nouveau menu</h1>

    {{ include('menu/_form.html.twig') }}

    <a href="{{ path('menu_index') }}">back to list</a>
{% endblock %}
