{% extends 'base.html.twig' %}

{% block title %}New RecipeIngredient{% endblock %}

{% block body %}
    <h1>Create new RecipeIngredient</h1>

    {{ include('recipe_ingredient/_form.html.twig') }}

    <a href="{{ path('recipe_ingredient_index') }}">back to list</a>
{% endblock %}
